
.container{
  width: 100%;
  height: 100vh;
  background-color: rgb(27, 26, 26);
  color: white;
  padding: 30px;
  display: flex;
  align-items: center;
}

.form {
  width: 100%;
  /* background-color: #a02f2f; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 15px;
 
}

.inp {
  width: 100%;
  height: 45px;
  /* padding: 10px; */
  border-radius: 10px;
  outline: none;
  border: 1px solid gray;
  font-size: 15px;
  text-indent: 20px;
}

.btn {
  
  padding: 15px 40px;
  background-color: #0f45aa;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: #326de2;
}

.link {
  color: #0f45aa;
  text-decoration: none;
  font-size: 14px;
}

.not-found {
  width: 100%;
  text-align: center;
}

.success {
  color: green;
  background-color: lightgreen;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  opacity: 1;
}


.invisible-msg{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  opacity: 0;
}

.error {
  color: red;
  background-color: lightcoral;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  opacity: 1;
}



/* Track Page Css */

.search {
  width: 100%;
  padding: 10px 0px;
  /* background-color: gray; */
  position: relative;
}

.track-container {
 align-items: flex-start;
 flex-direction: column;

}

.search-inp {
  width: 100%;
  height: 45px;
  /* padding: 10px; */
  border-radius: 5px;
  outline: none;
  border: 1px solid gray;
  font-size: 15px;
  text-indent: 10px;
}

.search-results {
  width: 100%;
  padding: 10px 5px;
  margin-top: 15px;
  background-color: rgba(128, 128, 128, 0.5);
  row-gap: 15px;
  position: absolute;
}

.food{
  width: 100%;
  padding: 30px 0px;
  /* background-color: lawngreen; */
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  /* column-gap: 10px; */

}

.food-img {
  width: 100%;
  height: 300px;
  /* background-color: white; */
  overflow: hidden;
  border-radius: 5px;
  
}

.nutrient{
  width: 50%;
  padding: 10px 0px;
  /* background-color: magenta; */
}

.food-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.track-control{
 display: flex;
 width: 100%;
 column-gap: 2%;
}

.track-control .btn{
  width: 30%;
  padding: 10px 0px;
}

.track-control .inp{
  width: 68%;
  
}


.diet-container{
  align-items: flex-start;
  row-gap: 20px;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
  padding-bottom: 20px;
}

.item{
  width: 100%;
  padding: 20px;
  background-color: rgba(41, 38, 41, 0.788);
}

.date{
  width: 100%;
  height: 45px;
  /* padding: 10px; */
  border-radius: 5px;
  outline: none;
  border: 1px solid gray;
  font-size: 15px;
  text-indent: 10px;
}

.date-display {
  color: #0f45aa;
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0;
  text-transform: capitalize;
}


.header{
  position: absolute;
  width: fit-content;
  padding: 10px;
  background-color: rgba(24, 63, 148, 0.116);
  /* display: flex;
  justify-content: space-between; */
  font-size: smaller;
  top: 3px;
  right: 3px;
  
  
  
}

.heading{
  position: relative;
  width: 100%;
  padding: 10px;
  /* background-color: rgba(24, 63, 148, 0.116); */
  display: flex;
  justify-content: space-between;
  font-size: smaller;
}

li{
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

.heading ul li a{
  color: white;
  text-decoration: none;
  font-size: small;
}

/* Search Results Messages */

.search-prompt {
  color: #a0a0a0;
  text-align: center;
  padding: 20px 10px;
  font-size: 14px;
  font-style: italic;
  width: 100%;
}

.no-results {
  color: #ff9999;
  text-align: center;
  padding: 20px 10px;
  font-size: 14px;
  width: 100%;
}

.search-results p {
  margin: 0;
  padding: 0;
}

/* ======================== RESPONSIVE DESIGN ======================== */

/* TABLET (768px and above) */
@media (min-width: 768px) {
  
  .container {
    padding: 40px 50px;
  }

  .form {
    row-gap: 20px;
    max-width: 500px;
  }

  .inp {
    height: 50px;
    font-size: 16px;
  }

  .btn {
    padding: 15px 50px;
    font-size: 16px;
  }

  .search-inp {
    height: 50px;
    font-size: 16px;
  }

  .nutrient {
    width: 33.33%;
  }

  .track-control {
    column-gap: 3%;
  }

  .track-control .btn {
    width: 25%;
  }

  .track-control .inp {
    width: 72%;
  }

  .header {
    top: 10px;
    right: 50px;
    font-size: small;
  }

  .heading ul li {
    margin-right: 30px;
  }

  .date {
    height: 50px;
    font-size: 16px;
  }

  .date-display {
    font-size: 20px;
  }

  .item {
    padding: 25px;
  }

  .food {
    row-gap: 15px;
  }

  .food-img {
    height: 350px;
  }

}

/* DESKTOP/LAPTOP (1024px and above) */
@media (min-width: 1024px) {

  .container {
    padding: 50px 80px;
  }

  .form {
    row-gap: 25px;
    max-width: 600px;
  }

  .inp {
    height: 55px;
    font-size: 16px;
  }

  .btn {
    padding: 18px 60px;
    font-size: 16px;
  }

  .search {
    width: 70%;
  }

  .search-inp {
    height: 55px;
    font-size: 16px;
  }

  .search-results {
    width: 70%;
  }

  .nutrient {
    width: 25%;
  }

  .food {
    row-gap: 20px;
    max-width: 1200px;
  }

  .food-img {
    width: 45%;
    height: 400px;
  }

  .track-control {
    column-gap: 5%;
    width: 70%;
  }

  .track-control .btn {
    width: 20%;
  }

  .track-control .inp {
    width: 75%;
  }

  .header {
    top: 15px;
    right: 80px;
    font-size: 14px;
  }

  .heading ul li {
    margin-right: 40px;
  }

  .heading ul li a {
    font-size: 14px;
  }

  .date {
    height: 55px;
    font-size: 16px;
    width: 50%;
  }

  .date-display {
    font-size: 22px;
  }

  .item {
    padding: 30px;
  }

  .diet-container {
    max-width: 1200px;
    margin: 0 auto;
  }

}

/* EXTRA LARGE (1440px and above) */
@media (min-width: 1440px) {

  .container {
    padding: 60px 100px;
  }

  .form {
    max-width: 700px;
  }

  .search {
    width: 60%;
  }

  .search-results {
    width: 60%;
  }

  .track-control {
    width: 60%;
  }

  .nutrient {
    width: 20%;
  }

  .food-img {
    width: 50%;
    height: 450px;
  }

}
